img{
    width: 400px;
    height: 400px;
}
body{
    text-align: center;
    background-color: deepskyblue;
}
#as3{
    background-color:firebrick;
    background: linear-gradient(#fc0303 0%, #fcad03 50%, #f8fc03 100%);
}
#as4{
    background-color:azure;
    background: linear-gradient(#0019fa 0%, #d900fa 50%, #000000 100%);
    font-
}
#as1{
    background-color:antiquewhite;
    background: linear-gradient(#08ffea 0%,#081dff 100%);
}
#as2{
    background-color:aquamarine;
    background: linear-gradient(#f59e42 0%, #161efa 50%, #1efa16 100%);
}
#was{
    color: white;
}